@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* || RESET */

*, 
*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* amking my images responsive */
img {
    display: block;
    max-width: 100%;
    height: auto;
}

input, 
button, 
textarea {
    font: inherit;
}

/* ||VARIABLES */
:root {
    --FF: 'Nanito', san-serif;
    --FF-HEADINGS: "Fugaz One", cursive;
    --FS: clamp(1rem, 2.2vh, 1.5rem);

    /* COLORS */
    --BGCOLOR : orange;
    --BGCOLOR-FADE: rgb(252, 220, 160);
    --BGIMAGE: liner-gradient(to bottom, var(--BGIMAGE), va(--BGCOLOR-FADE));
    --BODY-BGCOLOR: #fff;
    --FONTCOLOR: #000;
}

/* ||UTILITY CLASSES */
.offscreen {
    position: absolute;
    left: -1000px;
}

.nowrap {
    white-space: nowrap;
}

.center {
    text-align: center;
}